@using Outsourcing.Data.Models
@using Labixa.ViewModels
@model List<Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ShopFormModel shopFormModel = ViewBag.ShopFormModel;

}

<!-- Slider Area -->
<section class="hero-slider">
    <!-- Single Slider -->
    <div class="single-slider">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-lg-9 offset-lg-1 col-12">
                    <div class="text-inner">
                        <div class="row">
                            <div class="col-lg-7 col-12">
                                <div class="hero-text">
                                    <h1>@*<span style="color:white">UP TO 50% OFF </span>*@Nước ép dinh dưỡng cho cơ thể</h1>
                                    <p style="color:white">Ép chậm, không sinh nhiệt, giữ vitamin, enzym, dưỡng khoáng chất, không bị oxi hóa 
                                    <br> Không gây cảm giác lợn cợn khi dùng 
                                    <br> Để được 2, 3 ngày 
                                    <br> Sử dụng để tạo ra dòng Juices & Detox giàu dinh dưỡng, giải khát, giải độc tốt </p>
                                    @*<div class="button">
                                        <a href="#" class="btn">Mua ngay!</a>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ End Single Slider -->
</section>
<!--/ End Slider Area -->
<!-- Start Small Banner  -->
<section class="small-banner section">
    <div class="container-fluid">
        <div class="row">
            <!-- Single Banner  -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-banner height-300">
                    <img class="img-show" src="~/Content/shop/images/detox-chanh-xa.png" alt="detox chanh xa">
                    <div class="content">
                        @*<p>Man's Collectons</p>*@
                        <h3>Nước ép trái cây</h3>
                        <a href="@Url.RouteUrl("CuaHang", new { slug = "nuoc-ep-trai-cay"})">Xem ngay</a>
                    </div>
                </div>
            </div>
            <!-- /End Single Banner  -->
            <!-- Single Banner  -->
            <div class="col-lg-4 col-md-6 col-12">
                <div class="single-banner height-300">
                    <img src="~/Content/shop/images/detox-mat-ong.png" alt="detox mat ong">
                    <div class="content">
                        @*<p>Bag Collectons</p>*@
                        <h3>Nước ép rau củ quả</h3>
                        <a href="@Url.RouteUrl("CuaHang", new { slug = "nuoc-ep-rau-cu"})">Xem ngay</a>
                    </div>
                </div>
            </div>
            <!-- /End Single Banner  -->
            <!-- Single Banner  -->
            <div class="col-lg-4 col-12">
                <div class="single-banner tab-height height-300">
                    <img src="~/Content/shop/images/detox-dua-leo.png" alt="#">
                    <div class="content">
                        @*<p>Flash Sale</p>*@
                        <h3>Trái cây nhập khẩu</h3>
                        <a href="@Url.RouteUrl("CuaHang", new { slug = "trai-cay-nhap-khau"})">Xem ngay</a>
                    </div>
                </div>
            </div>
            <!-- /End Single Banner  -->
        </div>
    </div>
</section>
<!-- End Small Banner -->
<!-- Start Product Area -->
<div class="product-area section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Danh Sách Sản Phẩm</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                   
                    <div class="nav-main">
                        @if (shopFormModel.productCategories.Any() && shopFormModel.productCategories != null)
                        {
                            <!-- Tab Nav -->
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                @foreach (var item in shopFormModel.productCategories)
                                {
                               
                                    if (item.Notes == "active")
                                    {
                                        <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#@item.Slug" role="tab">@item.Name</a></li>
                                    }
                                    else
                                    {
                                        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#@item.Slug" role="tab">@item.Name</a></li>
                                    }

                                }
                            </ul>
                        }
                        else
                        {
                            <p>Không có dữ liệu </p>
                        }
                    </div>
                   

                    <div class="tab-content" id="myTabContent">
                        @if (shopFormModel.productCategories.Any() && shopFormModel.productCategories != null)
                        {
                            foreach (var itemPC in shopFormModel.productCategories)
                            {
   

                                if (itemPC.Notes == "active")
                                {
                                    <div class="tab-pane fade show active" id="@itemPC.Slug" role="tabpanel">
                                        <div class="tab-single">
                                            @if (itemPC.Products.Count == 0)
                                            {
                                                <div class="row" style="margin: auto">
                                                    <p>Không có dữ liệu thể loại @itemPC.Name</p>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    @foreach (var itemP in Model)
                                                    {
                                                        if (itemPC.Id == itemP.ProductCategoryId)
                                                        {
                                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                                <div class="single-product">
                                                                    <div class="product-img">
                                                                        <a href="#">
                                                                            <img class="default-img" src="@itemP.ProductImage" alt="#">
                                                                            <img class="hover-img" src="@itemP.ProductImage" alt="#">
                                                                        </a>
                                                                        <div class="button-head">
                                                                            @*<div class="product-action">
                                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                                            </div>*@
                                                                            <div class="product-action-2">
                                                                                <a title="Add to cart" onclick="buy(@itemP.Id)">Thêm vào giỏ hàng</a>
                                                                               
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-content">
                                                                        <h3><a href="">@itemP.Name</a></h3>
                                                                        <div class="product-price">
                                                                            <span>@itemP.Price.ToString("#,##0") đ</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="tab-pane fade show" id="@itemPC.Slug" role="tabpanel">
                                        <div class="tab-single">
                                            @if (itemPC.Products.Count == 0)
                                            {
                                                <div class="row" style="margin: auto">
                                                    <p>Không có dữ liệu thể loại @itemPC.Name</p>
                                                </div>
                                            }
                                            else
                                            {

                                                <div class="row">
                                                    @foreach (var itemP in Model)
                                                    {
                                                        if (itemPC.Id == itemP.ProductCategoryId)
                                                        {
                                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                                <div class="single-product">
                                                                    <div class="product-img">
                                                                        <a href="#">
                                                                            <img class="default-img" src="@itemP.ProductImage" alt="#">
                                                                            <img class="hover-img" src="@itemP.ProductImage" alt="#">
                                                                        </a>
                                                                        <div class="button-head">
                                                                            @*<div class="product-action">
                                                                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                                                                <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                                                                <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                                                            </div>*@
                                                                            <div class="product-action-2">
                                                                                <a title="Add to cart" onclick="buy(@itemP.Id)">Thêm vào giỏ hàng</a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="product-content">
                                                                        <h3><a href="">@itemP.Name</a></h3>
                                                                        <div class="product-price">
                                                                            <span>@itemP.Price.ToString("#,##0") đ</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }

                            }
                        }

                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Area -->
<!-- Start Midium Banner  -->
<!--<section class="midium-banner">
    <div class="container">
        <div class="row">-->
            <!-- Single Banner  -->
            <!--<div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner">
                    <img src="https://via.placeholder.com/600x370" alt="#">
                    <div class="content">
                        <p>Man's Collectons</p>
                        <h3>Man's items <br>Up to<span> 50%</span></h3>
                        <a href="#">Shop Now</a>
                    </div>
                </div>
            </div>-->
            <!-- /End Single Banner  -->
            <!-- Single Banner  -->
            <!--<div class="col-lg-6 col-md-6 col-12">
                <div class="single-banner">
                    <img src="https://via.placeholder.com/600x370" alt="#">
                    <div class="content">
                        <p>shoes women</p>
                        <h3>mid season <br> up to <span>70%</span></h3>
                        <a href="#" class="btn">Shop Now</a>
                    </div>
                </div>
            </div>-->
            <!-- /End Single Banner  -->
        <!--</div>
    </div>
</section>-->
<!-- End Midium Banner -->
<section class="section free-version-banner">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8 offset-md-2 col-xs-12">
                <div class="section-title mb-60">
                    @*<span class="text-white wow fadeInDown" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;">Eshop Free Lite version</span>*@
                    <h2 class="text-white wow fadeInUp" data-wow-delay=".4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">NƯỚC ÉP DINH DƯỠNG HỮU CƠ NGUYÊN CHẤT KHÔNG ĐƯỜNG</h2>
                    <p class="text-white wow fadeInUp" data-wow-delay=".6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;">Nước ép dinh dưỡng của cửa hàng NƯỚC ÉP.VN nguyên chất không pha đường hoặc bất kì chất bảo quản nào. Ép tươi bán và dùng trong ngày mặc dù có thể bảo quản được 2-3 ngày.</p>

                    @*<div class="button">
                            <a href="https://wpthemesgrid.com/downloads/eshop-ecommerce-html5-template/" target="_blank" rel="nofollow" class="btn wow fadeInUp" data-wow-delay=".8s">Purchase Now</a>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Start Most Popular -->
<div class="product-area most-popular section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Sản phẩm bán chạy</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @if (shopFormModel.hotProducts != null && shopFormModel.hotProducts.Any())
            {
                <div class="col-12">
                    <div class="owl-carousel popular-slider">
                        @foreach (var item in shopFormModel.hotProducts)
                        {
                            <div class="single-product">
                                <div class="product-img">
                                    <a href="">
                                        <img class="default-img" src="@item.ProductImage" alt="#">
                                        <img class="hover-img" src="@item.ProductImage" alt="#">
                                        @*<span class="out-of-stock"></span>*@
                                    </a>
                                    <div class="button-head">
                                        @*<div class="product-action">
                                            <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                            <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                            <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                        </div>*@
                                        <div class="product-action-2">
                                            <a title="Add to cart" onclick="buy(@item.Id)">Thêm vào giỏ hàng</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h3><a href="">@item.Name</a></h3>
                                    <div class="product-price">
                                        @if(item.OldPrice > 0)
                                        { 
                                            <span class="old">@item.OldPrice.ToString("#,##0") đ</span>
                                        }
                                        @*<span class="old">$60.00</span>*@
                                        <span>  @item.Price.ToString("#,##0") đ</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            }
            else
            {
               <p style="margin:auto">Không có dữ liệu</p>
            }

        </div>
    </div>
</div>
<!-- End Most Popular Area -->



<!-- Start Shop Home List  -->
<!--<section class="shop-home-list section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-section-title">
                            <h1>On sale</h1>
                        </div>
                    </div>
                </div>-->
                <!-- Start Single List  -->
                <!--<div class="single-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="list-image overlay">
                                <img src="https://via.placeholder.com/115x140" alt="#">
                                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 no-padding">
                            <div class="content">
                                <h4 class="title"><a href="#">Licity jelly leg flat Sandals</a></h4>
                                <p class="price with-discount">$59</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- End Single List  -->
                <!-- Start Single List  -->
                <!--<div class="single-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="list-image overlay">
                                <img src="https://via.placeholder.com/115x140" alt="#">
                                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 no-padding">
                            <div class="content">
                                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                                <p class="price with-discount">$44</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- End Single List  -->
                <!-- Start Single List  -->
                <!--<div class="single-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="list-image overlay">
                                <img src="https://via.placeholder.com/115x140" alt="#">
                                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 no-padding">
                            <div class="content">
                                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                                <p class="price with-discount">$89</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- End Single List  -->
            <!--</div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-section-title">
                            <h1>Best Seller</h1>
                        </div>
                    </div>
                </div>-->
                <!-- Start Single List  -->
                <!--<div class="single-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="list-image overlay">
                                <img src="https://via.placeholder.com/115x140" alt="#">
                                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 no-padding">
                            <div class="content">
                                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                                <p class="price with-discount">$65</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- End Single List  -->
                <!-- Start Single List  -->
                <!--<div class="single-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="list-image overlay">
                                <img src="https://via.placeholder.com/115x140" alt="#">
                                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 no-padding">
                            <div class="content">
                                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                                <p class="price with-discount">$33</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- End Single List  -->
                <!-- Start Single List  -->
                <!--<div class="single-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="list-image overlay">
                                <img src="https://via.placeholder.com/115x140" alt="#">
                                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 no-padding">
                            <div class="content">
                                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                                <p class="price with-discount">$77</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- End Single List  -->
            <!--</div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-section-title">
                            <h1>Top viewed</h1>
                        </div>
                    </div>
                </div>-->
                <!-- Start Single List  -->
                <!--<div class="single-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="list-image overlay">
                                <img src="https://via.placeholder.com/115x140" alt="#">
                                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 no-padding">
                            <div class="content">
                                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                                <p class="price with-discount">$22</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- End Single List  -->
                <!-- Start Single List  -->
                <!--<div class="single-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="list-image overlay">
                                <img src="https://via.placeholder.com/115x140" alt="#">
                                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 no-padding">
                            <div class="content">
                                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                                <p class="price with-discount">$35</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- End Single List  -->
                <!-- Start Single List  -->
                <!--<div class="single-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-12">
                            <div class="list-image overlay">
                                <img src="https://via.placeholder.com/115x140" alt="#">
                                <a href="#" class="buy"><i class="fa fa-shopping-bag"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-12 no-padding">
                            <div class="content">
                                <h5 class="title"><a href="#">Licity jelly leg flat Sandals</a></h5>
                                <p class="price with-discount">$99</p>
                            </div>
                        </div>
                    </div>
                </div>-->
                <!-- End Single List  -->
            <!--</div>
        </div>
    </div>
</section>-->
<!-- End Shop Home List  -->
<!-- Start Shop Blog  -->
<!--<section class="shop-blog section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>From Our Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">-->
                <!-- Start Single Blog  -->
                <!--<div class="shop-single-blog">
                    <img src="https://via.placeholder.com/370x300" alt="#">
                    <div class="content">
                        <p class="date">22 July , 2020. Monday</p>
                        <a href="#" class="title">Sed adipiscing ornare.</a>
                        <a href="#" class="more-btn">Continue Reading</a>
                    </div>
                </div>-->
                <!-- End Single Blog  -->
            <!--</div>
            <div class="col-lg-4 col-md-6 col-12">-->
                <!-- Start Single Blog  -->
                <!--<div class="shop-single-blog">
                    <img src="https://via.placeholder.com/370x300" alt="#">
                    <div class="content">
                        <p class="date">22 July, 2020. Monday</p>
                        <a href="#" class="title">Man’s Fashion Winter Sale</a>
                        <a href="#" class="more-btn">Continue Reading</a>
                    </div>
                </div>-->
                <!-- End Single Blog  -->
            <!--</div>
            <div class="col-lg-4 col-md-6 col-12">-->
                <!-- Start Single Blog  -->
                <!--<div class="shop-single-blog">
                    <img src="https://via.placeholder.com/370x300" alt="#">
                    <div class="content">
                        <p class="date">22 July, 2020. Monday</p>
                        <a href="#" class="title">Women Fashion Festive</a>
                        <a href="#" class="more-btn">Continue Reading</a>
                    </div>
                </div>-->
                <!-- End Single Blog  -->
            <!--</div>
        </div>
    </div>
</section>-->
<!-- End Shop Blog  -->
<!-- Start Shop Services Area -->
<section class="shop-services section home">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-rocket"></i>
                    <h4>Miễn phí vận chuyển</h4>
                    <p>Cho đơn hàng hơn 500.000 đ</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-reload"></i>
                    <h4>Miễn phí hoàn trả</h4>
                    <p>Trong vòng 30 ngày khi nhận hàng</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-lock"></i>
                    <h4>Thanh toán an toàn</h4>
                    <p>100% an toàn khi thanh toán</p>
                </div>
                <!-- End Single Service -->
            </div>
            <div class="col-lg-3 col-md-6 col-12">
                <!-- Start Single Service -->
                <div class="single-service">
                    <i class="ti-tag"></i>
                    <h4>Giá cả hợp lý</h4>
                    <p>Đảm bảo về giá cả sản phẩm</p>
                </div>
                <!-- End Single Service -->
            </div>
        </div>
    </div>
</section>
<!-- End Shop Services Area -->
