@using Outsourcing.Data.Models
@using Labixa.ViewModels
@model IEnumerable<Product>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ShopFormModel shopFormModel = ViewBag.shopFormModel;
}

<div class="breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="bread-inner">
                    <ul class="bread-list">
                        <li><a href="@Url.RouteUrl("TrangChu")">Trang chủ<i class="ti-arrow-right"></i></a></li>
                        <li class="active"><a>Tìm kiếm</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-area section">
    <div class="container">
        @*<div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>@productCategory.Name</h2>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-12">
                <div class="product-info">
                    <!--<div class="nav-main">
                    <!-- Tab Nav -->
                    <!--<ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#man" role="tab">Nước ép trái cây</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#women" role="tab">Nước ép rau củ</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#kids" role="tab">Thực phẩm khô</a></li>
                    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#accessories" role="tab">Trái cây nhập khẩu</a></li>-->
                    @*<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#essential" role="tab">Essential</a></li>
                                <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#prices" role="tab">Prices</a></li>
                        </ul>*@
                    <!--/ End Tab Nav -->
                    <!--</div>-->
                    <div class="tab-content" id="myTabContent">
                        <!-- Start Single Tab Nước ép trái cây -->
                        <div class="tab-pane fade show active" id="man" role="tabpanel">
                            <div class="tab-single">
                                <div class="row">
                                    @if (Model.Any() && Model != null)
                                    {
                                        foreach (var item in Model)
                                        {

                                            <div class="col-xl-3 col-lg-4 col-md-4 col-12">
                                                <div class="single-product">
                                                    <div class="product-img">
                                                        <a href="#">
                                                            <img class="default-img" src="@item.ProductImage" alt="#">
                                                            <img class="hover-img" src="@item.ProductImage" alt="#">
                                                        </a>
                                                        <div class="button-head">
                                                            @*<div class="product-action">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class=" ti-eye"></i><span>Quick Shop</span></a>
                                    <a title="Wishlist" href="#"><i class=" ti-heart "></i><span>Add to Wishlist</span></a>
                                    <a title="Compare" href="#"><i class="ti-bar-chart-alt"></i><span>Add to Compare</span></a>
                                </div>*@
                                                            <div class="product-action-2">
                                                                <a title="Add to cart" onclick="buy(@item.Id)">Thêm vào giỏ hàng</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-content">
                                                        <h3><a href="">@item.Name</a></h3>
                                                        <div class="product-price">
                                                            <span>@item.Price.ToString("#,##0") đ</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }

                                    }
                                    else
                                    {
                                        <p style="margin:auto">Không có dữ liệu</p>

                                    }

                                </div>
                            </div>
                        </div>
                        <!--/ End Single Tab -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
