@using Outsourcing.Data.Models
@using Labixa.ViewModels
@{ 
    ShopFormModel shopFormModel = ViewBag.ShopFormModel;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name='copyright' content=''>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     @foreach (var item in shopFormModel.websiteAttributes)
    {
        if (item.Description == "title")
        {
            <title>@item.Value</title>
        }
    }

    @foreach (var item in shopFormModel.websiteAttributes)
    {
        if (item.Description == "description")
        {
            <meta name="description" content="@item.Value">
        }
    }

    @foreach (var item in shopFormModel.websiteAttributes)
    {
        if (item.Description == "keyword")
        {
            <meta name="keywords" content="@item.Value">
        }
    }

    <!-- meta facebook -->
    @foreach (var item in shopFormModel.websiteAttributes)
    {
        if (item.Description == "title")
        {
            <meta name="og:title" content="@item.Value">
        }
    }

    <meta name="og:type" content="website">
    <meta name="og:site_name" content="PetPro">
    <meta name="og:locale" content="vi_VN">
    <meta name="og:url" content="">

    @foreach (var item in shopFormModel.websiteAttributes)
    {
        if (item.Description == "image")
        {
            <meta name="og:image" content="@item.Value">
        }
    }

    <!--Meta Title-->
    @foreach (var item in shopFormModel.websiteAttributes)
    {
        if (item.Description == "description")
        {
            <meta name="og:description" content="@item.Value">
        }
    }

    <!-- meta twitter -->
    @foreach (var item in shopFormModel.websiteAttributes)
    {
        if (item.Description == "title")
        {
            <meta name="twitter:title" content="@item.Value">
        }
    }

    @foreach (var item in shopFormModel.websiteAttributes)
    {
        if (item.Description == "description")
        {
            <meta name="twitter:description" content="@item.Value">
        }
    }

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:domain" content="">

    @foreach (var item in shopFormModel.websiteAttributes)
    {
        if (item.Description == "image")
        {
            <meta name="twitter:image" content="@item.Value">
        }
    }
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/Content/shop/images/cropped-gems-2-1-192x192.png">
    <!-- Web Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- StyleSheet -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/Content/shop/css/bootstrap.css">
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/Content/shop/css/magnific-popup.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/shop/css/font-awesome.css">
    <!-- Fancybox -->
    <link rel="stylesheet" href="~/Content/shop/css/jquery.fancybox.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="~/Content/shop/css/themify-icons.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="~/Content/shop/css/niceselect.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="~/Content/shop/css/animate.css">
    <!-- Flex Slider CSS -->
    <link rel="stylesheet" href="~/Content/shop/css/flex-slider.min.css">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="~/Content/shop/css/owl-carousel.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="~/Content/shop/css/slicknav.min.css">

    <!-- Eshop StyleSheet -->
    <link rel="stylesheet" href="~/Content/shop/css/reset.css">
    <link rel="stylesheet" href="~/Content/shop/css/style.css">
    <link rel="stylesheet" href="~/Content/shop/css/responsive.css">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400&family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>
<body class="js">

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- End Preloader -->
    <!-- Header -->
    <header class="header shop">
        <!-- Topbar -->
        <!--<div class="topbar">
            <div class="container">-->
                <!--<div class="row">
                    <div class="col-lg-5 col-md-12 col-12">-->
                        <!-- Top Left -->
                        <!--<div class="top-left">
                            <ul class="list-main">
                                <li><i class="ti-headphone-alt"></i>  (+84) 090 671 0739</li>
                              
                            </ul>
                        </div>-->
                        <!--/ End Top Left -->
                    <!--</div>-->
                    <!-- <div class="col-lg-7 col-md-12 col-12">

                        <div class="right-content">
                            <ul class="list-main">
                                <li><i class="ti-location-pin"></i> Store location</li>
                                <li><i class="ti-alarm-clock"></i> <a href="#">Daily deal</a></li>
                                <li><i class="ti-user"></i> <a href="#">My account</a></li>
                                <li><i class="ti-power-off"></i><a href="login.html#">Login</a></li>
                            </ul>
                        </div>

                    </div> -->
                <!--</div>-->
            <!--</div>
        </div>-->
        <!-- End Topbar -->
        <div class="middle-inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-12">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="@Url.RouteUrl("TrangChu")"><img style="max-width: 50%; max-height: 100px" src="~/Content/shop/images/cropped-gems-4-removebg-preview.png" alt="logo"></a>
                           
                        </div>
                        <!--/ End Logo -->
                        <!-- Search Form -->
                        <div class="search-top">
                            <div class="top-search"><a href="#0"><i class="ti-search"></i></a></div>
                            <!-- Search Form -->
                            <div class="search-top">
                                <form class="search-form" method="get" action="@Url.RouteUrl("TimKiem")">
                                    <input type="text" placeholder="Tìm kiếm..." name="key">
                                    <button value="search" type="submit"><i class="ti-search"></i></button>
                                </form>
                            </div>
                            <!--/ End Search Form -->
                        </div>
                        <!--/ End Search Form -->
                        <div class="mobile-nav"></div>
                    </div>

                    <div class="col-lg-8 col-md-7 col-12">
                        <div class="search-bar-top">
                            <div class="search-bar">
                                <form method="get" action="@Url.RouteUrl("TimKiem")">
                                    <input name="key" placeholder="Tìm kiếm sản phẩm....." type="search">
                                    <button type="submit" class="btnn"><i class="ti-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-12">
                        <div class="right-bar">
                            <!-- Search Form -->
                            @*<div class="sinlge-bar">
                                <a href="#" class="single-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                            </div>
                            <div class="sinlge-bar">
                                <a href="#" class="single-icon"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a>
                            </div>*@
                            <div class="sinlge-bar shopping" id="cart">
                                <!--<a href="#" class="single-icon"><i class="ti-bag"></i> <span class="total-count">2</span></a>-->
                                <!-- Shopping Item -->
                                <!--<div class="shopping-item">
                                    <div class="dropdown-cart-header">
                                        <span>2 Items</span>
                                        <a href="#">View Cart</a>
                                    </div>
                                    <ul class="shopping-list">
                                        <li>
                                            <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                            <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                                            <h4><a href="#">Woman Ring</a></h4>
                                            <p class="quantity">1x - <span class="amount">$99.00</span></p>
                                        </li>
                                        <li>
                                            <a href="#" class="remove" title="Remove this item"><i class="fa fa-remove"></i></a>
                                            <a class="cart-img" href="#"><img src="https://via.placeholder.com/70x70" alt="#"></a>
                                            <h4><a href="#">Woman Necklace</a></h4>
                                            <p class="quantity">1x - <span class="amount">$35.00</span></p>
                                        </li>
                                    </ul>
                                    <div class="bottom">
                                        <div class="total">
                                            <span>Total</span>
                                            <span class="total-amount">$134.00</span>
                                        </div>
                                        <a href="checkout.html" class="btn animate">Checkout</a>
                                    </div>
                                </div>-->
                                <!--/ End Shopping Item -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header Inner -->
        <div class="header-inner">
            <div class="container">
                <div class="cat-nav-head">
                    <div class="row">
                       
                        <div class="col-lg-9 col-12">
                            <div class="menu-area">
                                <!-- Main Menu -->
                                <nav class="navbar navbar-expand-lg">
                                    <div class="navbar-collapse">
                                        <div class="nav-inner">
                                            <ul class="nav main-menu menu navbar-nav">
                                                <li>
                                                    <a class="active" href="#">Cửa hàng<i class="ti-angle-down"></i></a>
                                                    <ul class="dropdown">
                                                        <li><a href="@Url.RouteUrl("CuaHang", new { slug = "nuoc-ep-trai-cay"})">nước ép trái cây</a></li>
                                                        <li><a href="@Url.RouteUrl("CuaHang", new { slug = "nuoc-ep-rau-cu"})">nước ép rau củ quả</a></li>
                                                        <li><a href="@Url.RouteUrl("CuaHang", new { slug = "thuc-pham-kho"})">thực phẩm khô</a></li>
                                                        <li><a href="@Url.RouteUrl("CuaHang", new { slug = "trai-cay-nhap-khau"})">trái cây nhập khẩu</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="@Url.RouteUrl("TinTuc")">Tin tức</a></li>
                                                @if (shopFormModel.blogsHelper != null && shopFormModel.blogsHelper.Any())
                                                {
                                                    <li>
                                                        <a href="#">Chính sách<i class="ti-angle-down"></i></a>
                                                        <ul class="dropdown">
                                                            @foreach (var item in shopFormModel.blogsHelper) { 
                                                                <li><a href="@Url.RouteUrl("ChinhSach", new { slug = item.Slug })">@item.Description</a></li>
                                                            }
                                                            @*<li><a href="#">Chính sách cho ctv</a></li>
                                                            <li><a href="#">Chính sách đổi trả</a></li>
                                                            <li><a href="#">Chính sách bảo hành</a></li>
                                                            <li><a href="#">Chính sách giao hàng</a></li>
                                                            <li><a href="#">Chính sách xử lý khiếu nại</a></li>
                                                            <li><a href="#">Chính sách vận chuyển</a></li>
                                                            <li><a href="#">Chính sách bảo mật thông tin</a></li>
                                                            <li><a href="#">Hướng dẫn mua hàng và thanh toán</a></li>*@
                                                        </ul>
                                                    </li>
                                                }

                                                <li><a href="@Url.RouteUrl("LienHe")">Liên Hệ</a></li>
                                                <li><a href="@Url.RouteUrl("VeChungToi")">Về chúng tôi</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </nav>
                                <!--/ End Main Menu -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ End Header Inner -->
    </header>
    <!--/ End Header -->
    <!--Body content-->
    @RenderBody()
    <!--End body content-->
    <!-- Start Shop Newsletter  -->
    <section class="shop-newsletter section">
        <div class="container">
            <div class="inner-top">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-12">
                        <!-- Start Newsletter Inner -->
                        <div class="inner">
                            <h4>Ưu Đãi</h4>
                            <p> Đăng ký và xác nhận để nhận ưu đãi giảm <span>10%</span> cho đơn đặt hàng đầu tiền</p>
                            <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                                <input name="EMAIL" placeholder="Your email address" required="" type="email">
                                <button class="btn">Subscribe</button>
                            </form>
                        </div>
                        <!-- End Newsletter Inner -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Shop Newsletter -->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="ti-close" aria-hidden="true"></span></button>
                </div>
                <div class="modal-body">
                    <div class="row no-gutters">
                        <div class="col-lg-6 offset-lg-3 col-12">
                            <h4 style="margin-top:100px;font-size:14px; font-weight:500; color:#F7941D; display:block; margin-bottom:5px;">Eshop Free Lite</h4>
                            <h3 style="font-size:30px;color:#333;">
                                Currently You are using free lite Version of Eshop.
                            </h3>
                            <p style="display:block; margin-top:20px; color:#888; font-size:14px; font-weight:400;">Please, purchase full version of the template to get all pages, features and commercial license</p>
                            <div class="button" style="margin-top:30px;">
                                <a href="https://wpthemesgrid.com/downloads/eshop-ecommerce-html5-template/" target="_blank" class="btn" style="color:#fff;">Buy Now!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end -->
    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Footer Top -->
        <div class="footer-top section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer about">
                            <div class="logo">
                                <a href="@Url.RouteUrl("TrangChu")"><img class="img-footer" src="~/Content/shop/images/cropped-gems-4-removebg-preview.png" alt="#"></a>
                            </div>
                            <p class="text">SĐT Bán Hàng: 0384 639 246 <br> SĐT Hỗ Trợ: 0906 710 739 <br> Địa chỉ: 307/41 Thạch Lam, P. Phú Thạnh, Q.Tân Phú,HCM <br><br> Công Ty TNHH Giải Pháp và Công Nghệ Amazing <br> Địa chỉ: 74 Nguyễn Cửu Đàm, P. Tân Sơn Nhì, Q.Tân Phú, HCM <br> Email: admin@amazingtech.vn <br> SDT: (+84) 090 671 0739 <br> MST: 0316916737 </p>
                            @*<p class="call">Got Question? Call us 24/7<span><a href="tel:123456789">+0123 456 789</a></span></p>*@
                            <div class="logo" style="margin-top: 20px">
                                <a><img class="img-footer" src="~/Content/shop/images/logoSaleNoti.png" alt="#"></a>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Single Widget -->
                        <div class="single-footer links">
                            <h4>Thông tin</h4>
                            <ul>
                                <li><a href="@Url.RouteUrl("TrangChu")">Trang Chủ</a></li>

                                <li><a href="@Url.RouteUrl("TinTuc")">Tin Tức</a></li>
                                @*<li><a href="#">Faq</a></li>*@
                                @*<li><a href="#">Terms & Conditions</a></li>*@
                                <li><a href="@Url.RouteUrl("LienHe")">Liên Hệ</a></li>
                                <li><a href="@Url.RouteUrl("VeChungToi")">Về Chúng Tôi</a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>
                    @if (shopFormModel.blogsHelper != null && shopFormModel.blogsHelper.Any())
                    {
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer links">
                                <h4>Chính Sách</h4>
                                <ul>
                                    @foreach(var item in shopFormModel.blogsHelper)
                                    { 
                                        <li><a href="@Url.RouteUrl("ChinhSach", new { slug = item.Slug })">@item.Title</a></li>
                                    }
                                    @*<li><a href="#">Liên hệ</a></li>
                                    <li><a href="#">Chính sách bảo hành</a></li>
                                    <li><a href="#">Chính sách cho cộng tác viên</a></li>
                                    <li><a href="#">Chính sách đổi trả</a></li>
                                    <li><a href="#">Chính sách xử lý khiếu nại</a></li>
                                    <li><a href="#">Chính sách vận chuyển</a></li>
                                    <li><a href="#">Chính sách bảo mật thông tin</a></li>*@
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                    }

                    <!--<div class="col-lg-3 col-md-6 col-12">-->
                    <!-- Single Widget -->
                    <!--<div class="single-footer social">
        <h4>Get In Tuch</h4>-->
                    <!-- Single Widget -->
                    <!--<div class="contact">
        <ul>
            <li>NO. 342 - London Oxford Street.</li>
            <li>012 United Kingdom.</li>
            <li>info@eshop.com</li>
            <li>+032 3456 7890</li>
        </ul>
    </div>-->
                    <!-- End Single Widget -->
                    <!--<ul>
            <li><a href="#"><i class="ti-facebook"></i></a></li>
            <li><a href="#"><i class="ti-twitter"></i></a></li>
            <li><a href="#"><i class="ti-flickr"></i></a></li>
            <li><a href="#"><i class="ti-instagram"></i></a></li>
        </ul>
    </div>-->
                    <!-- End Single Widget -->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
        <div class="copyright">
            <div class="container">
                <div class="inner">
                    <div class="row">
                        @*<div class="col-lg-6 col-12">
                            <div class="left">
                                <p>Copyright © 2020 <a href="http://www.wpthemesgrid.com" target="_blank">Wpthemesgrid</a>  -  All Rights Reserved.</p>
                            </div>
                        </div>*@
                        @*<div class="col-lg-6 col-12">
                            <div class="right">
                                <img src="images/payments.png" alt="#">
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /End Footer Area -->
    <!-- Jquery -->
    <script src="~/Content/shop/js/jquery.min.js"></script>
    <script src="~/Content/shop/js/jquery-migrate-3.0.0.js"></script>
    <script src="~/Content/shop/js/jquery-ui.min.js"></script>
    <!-- Popper JS -->
    <script src="~/Content/shop/js/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="~/Content/shop/js/bootstrap.min.js"></script>
    <!-- Color JS -->
    <script src="~/Content/shop/js/colors.js"></script>
    <!-- Slicknav JS -->
    <script src="~/Content/shop/js/slicknav.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/Content/shop/js/owl-carousel.js"></script>
    <!-- Magnific Popup JS -->
    <script src="~/Content/shop/js/magnific-popup.js"></script>
    <!-- Waypoints JS -->
    <script src="~/Content/shop/js/waypoints.min.js"></script>
    <!-- Countdown JS -->
    <script src="~/Content/shop/js/finalcountdown.min.js"></script>
    <!-- Nice Select JS -->
    <script src="~/Content/shop/js/nicesellect.js"></script>
    <!-- Flex Slider JS -->
    <script src="~/Content/shop/js/flex-slider.js"></script>
    <!-- ScrollUp JS -->
    <script src="~/Content/shop/js/scrollup.js"></script>
    <!-- Onepage Nav JS -->
    <script src="~/Content/shop/js/onepage-nav.min.js"></script>
    <!-- Easing JS -->
    <script src="~/Content/shop/js/easing.js"></script>
    <!-- Active JS -->
    <script src="~/Content/shop/js/active.js"></script>

    <script type="text/javascript">
        function load() {
            $.ajax({
                type: "POST",
                url: '/Shop/LoadCart',
                dataType: 'html',
                success: function (data) {
                    $('#cart').html(data);
                },
                error: function () {
                    alert("Load cart fail");
                }
            });
        }

        function buy(id) {

            $.ajax({
                type: "POST",
                url: '/Shop/Buy',
               
                data: JSON.stringify({
                    "id": id,
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    /*$('#cart').html(data.cart);*/
                    load();
                    alert(data.Message);
                },
                error: function () {
                    alert("Thêm giỏ hàng thất bại");
                }
            });
        }

        function Delete(id) {
            $.ajax({
                type: "POST",
                url: '/Shop/DeleteItemCart',
                data: JSON.stringify({
                    "id": id,
                }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    load();
                    alert(data.Message);
                },
                error: function () {
                    alert("Xóa sản phẩm thất bại");
                },
            });
        }
      

        $(document).ready(function () {
            //$.ajax({
            //    type: "POST",
            //    url: '/Shop/LoadCart',
            //    dataType: 'html',
            //    success: function (data) {
            //        $('#cart').html(data);
            //    },
            //    error: function () {
            //        alert("Load cart fail");
            //    }
            //});
            load()
        } );
    </script>
</body>
</html>